.herosection {
  background-image: url('../picture/pexels-marc-roy-1667018.jpg');

  width: 100%;
  min-height: 60vh;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  color: #2d4953;
}

.div-filter {
  background-color: rgba(253, 253, 253, 0.2);
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.textarea {
  position: absolute;
  margin-left: 10%;
}

.textarea h1 {
  font-size: 3rem;
}

.textarea p {
  font-size: 1.5rem;
  font-weight: bold;
}

.herosection-btn {
  display: flex;
  margin-top: 5px;
}

.btn-light {
  margin: 0 0.5rem;
  color: var(--clr-primary-5);
  transition: var(--transition);
  border: 1px #21a4d8 solid;
  color: #21a4d8;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  background-color: rgb(253, 254, 255);
}

.btn-light:hover {
  color: white;
  background-color: #21a4d8;
}

.btn-dark {
  margin: 0 0.5rem;
  transition: var(--transition);
  border: 1px #21a4d8 solid;
  background-color: #21a4d8;
  color: aliceblue;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
}

.btn-dark:hover {
  color: white;
  background-color: #045f83;
}

@media screen and (max-width: 900px) {
  .herosection {
    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 45vh;
  }

  .textarea {
    position: relative;
    margin-left: 5%;
    margin-bottom: 5vh;
    width: 40vh;
    align-items: baseline;
  }

  .textarea h1 {
    font-size: 1.2rem;
  }

  .textarea p {
    font-size: 0.8rem;
    font-weight: bolder;
  }

  .herosection-btn {
    display: flex;
    margin-top: 5px;
    width: 80%;
  }

  .btn-light {
    margin: 0 0.3rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
    border: 1px #21a4d8 solid;
    color: #21a4d8;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    background-color: rgb(253, 254, 255);
    font-size: small;
  }

  .btn-light:hover {
    color: white;
    background-color: #21a4d8;
  }

  .btn-dark {
    margin: 0 0.3rem;
    transition: var(--transition);
    border: 1px #21a4d8 solid;
    background-color: #21a4d8;
    color: aliceblue;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    font-size: small;
  }

  .btn-dark:hover {
    color: white;
    background-color: #045f83;
  }
}
