.herosection {
  background-image: url("../../../imgs/heroSectionbg.jpeg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
  color: #e6e6e6;
  background-repeat: no-repeat;
  border-bottom: 1px solid var(--primaryColor);
  flex-wrap: wrap;
}

.div-filter {
  min-height: 100vh;
  background-color: rgba(182, 182, 182, 0.363);
  display: flex;
  justify-content: center;
  width: 100%;
}

.textarea {
  border-radius: 5px;
  background-color: rgba(59, 59, 59, 0.783);
  position: absolute;
  margin-left: 30px;
  margin-bottom: 150px;
}

.textarea h1 {
  font-size: 1.5rem;
}

.textarea p {
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: bolder;
}

.herosection-btn {
  display: flex;
  margin-top: 5px;
}

.text {
  padding: 8% 5%;
  width: 45vw;
}

@media screen and (max-width: 900px) {
  .text p {
    display: none;
  }

  .herosection {
    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 45vh;
  }

  .div-filter {
    position: relative;
    min-height: 70vh;
    background-color: rgba(182, 182, 182, 0.363);
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .textarea {
    margin-left: 5%;
    margin-bottom: 5vh;
    align-items: baseline;
  }

  .textarea h1 {
    font-size: 1.2rem;
  }

  .textarea p {
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: bolder;
  }
}
@media only screen and (max-width: 900px) {
  .onlyPc {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .scrollNavWrap {
    position: absolute;
    width: 30px;
    height: 130px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    animation: startTxtArea 2.1s;
  }
  .scrollNavWrap .scrollNav {
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 14px;
    animation: equallyBound 1.4s ease-in infinite;
  }
  .scrollNavWrap .scrollNav:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 80px;
    background-color: #fff;
    left: 14px;
    bottom: -100px;
    animation: lineMove 0.9s ease-in-out infinite;
  }

  @keyframes lineMove {
    0% {
      transform-origin: top;
      transform: scaleY(0);
    }
    50% {
      transform-origin: top;
      transform: scaleY(1);
    }
    51% {
      transform-origin: bottom;
      transform: scaleY(1);
    }
    100% {
      transform-origin: bottom;
      transform: scaleY(0);
    }
  }

  @keyframes equallyBound {
    0% {
      transform-origin: top;
      transform: translateY(-5px);
    }
    50% {
      transform-origin: top;
      transform: translateY(5px);
    }
    51% {
      transform-origin: bottom;
      transform: translateY(5px);
    }
    100% {
      transform-origin: bottom;
      transform: translateY(-5px);
    }
  }
}
