/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Navbar
===============
*/
nav {
  width: 100%;
  min-height: 80px;
  max-height: 80px;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  position: fixed;
  z-index: 9999;
}

.nav-center {
  max-width: 1170px;
  margin: 10px 0;
  align-items: center;
  justify-content: space-between;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.logo {
  width: 140px;
  height: 62px;
  font-size: 25px;
  font-weight: bold;
  color: #21a4d8;
  /* cursor: pointer; */
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  padding-left: 1.5rem;
}
.btn {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  background-color: white;
}
.show-container {
  height: 10rem;
}
@media screen and (min-width: 900px) {
  .nav-center {
    max-width: 1170px;
    margin: 10px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
    width: fit-content;
  }

  .nav-header div {
    width: min-content;
  }

  .nav-toggle {
    display: none;
  }
  .links-container {
    width: 650px;
    height: auto !important;
    display: flex;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 1.2rem;
    display: flex;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .btn {
    display: flex;
  }
  .btn a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
    border: 1px #21a4d8 solid;
    color: #21a4d8;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 16px;
    display: inline-block;
    text-align: center;
  }
  .btn a:hover {
    color: white;
    background-color: #21a4d8;
  }
  .nav-content {
    display: flex;
    justify-content: space-between;
  }

  .links-container .links {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    padding: auto;
    height: 100%;
  }

  .links-container .links a {
    text-align: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* color: white; */
    height: 100%;
    width: 90px;
    justify-content: center;
  }

  .links-container .links a::before {
    content: "";
    position: absolute;
    /* border-color: #ffffff; */
    border-style: solid;
    border-width: 0 0 0.2em 0;
    height: 1em;
    margin-top: 1em;
    width: 5.5em;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  .links-container .links a:hover::before {
    content: "";
    position: absolute;
    /* border-color: #ffffff; */
    border-style: solid;
    border-width: 0 0 0.2em 0;
    height: 1em;
    margin-top: 1em;
    width: 5.5em;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .links a {
    align-items: center;
  }
}
