*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar-btn {
  font-size: 45px;
  color: #21a4d8;
  position: fixed;
  display: grid;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 999;
  margin-bottom: 8px;
}

.sidebar-btn a {
  color: #21a4d8;
}

@media screen and (max-width: 900px) {
  .sidebar-btn {
    display: none;
  }

  .sidebar-btn a {
    display: none;
  }
}
