.project-container {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  color: #2d4953;
  padding: 50px 15px 10px 15px;
  margin: 20px 0 200px 0;
}

.project-text {
  margin: 10px auto;
}

.project-text h2 {
  margin-bottom: 5vh;
}

.project-text h2::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 0 0.2em 0;
  height: 1em;
  margin-top: 0.5em;
  width: 4.5em;
  margin-left: -5px;
}

.cards {
  height: 100%;
  width: 100%;
  display: flex;
}

.card {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card-img {
  height: 20vh;
  width: 20vh;
  border-radius: 5%;
}

.card-heading {
  padding-top: 40px;
}

.card-text {
  width: 75%;
  min-height: 20%;
  font-size: 15px;
}

.card-btn {
  margin: 8px auto;
  width: 30%;
  height: 40px;
  border: 1px #21a4d8 solid;
  background-color: #21a4d8d3;
  color: rgb(230, 247, 247);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-btn a {
  font-size: 100%;
  color: rgb(230, 247, 247);
}

@media screen and (max-width: 960px) {
  .cards {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .card-btn {
    width: 20%;
    height: 80px;
    border: 1px #21a4d8 solid;
    background-color: #21a4d8d3;
    color: rgb(230, 247, 247);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
