.owlsection {
  padding: 50px 60px;
  background-color: #96d3f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

h6 {
  font-size: 15px;
  font-weight: 300;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  color: #368fb8;
  letter-spacing: 3px;
}

.owl-container {
  max-width: 80%;
  padding: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-container div {
  /* max-width: 100%; */
  display: flex;
  border-radius: 5%;
}

.card__container--inner--card h2 {
  padding: 10%;
  height: 5vw;
  font-size: 1vw;
  font-weight: 600;
  color: rgb(167, 164, 164);
  text-transform: uppercase;
  text-align: center;
}

.card__container--inner--card img {
  max-height: 40vh;
  width: 20vw;
  padding: 5vh;
  object-fit: contain;
}

.card__container--inner--card {
  background-color: #fff;
  color: #fff;
  font-size: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  transition: all 0.1s ease;
  margin: 10px;
}

.owl-text {
  text-align: center;
}

.owl-text p {
  font-size: 3.5rem;
}

.slick-next,
.slick-prev {
  padding: 2px;
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  border: none;
  border-radius: 5vw;
  background-color: #fff;
  z-index: 99 !important;
  box-shadow: rgba(70, 69, 69, 0.5) 0px 0px 10px 5px;
  top: 40%;
  margin: 0 2vw;
  color: #368fb8;
}

.slick-next:hover,
.slick-prev:hover {
  background-color: #fff;
}

.slick-list {
  width: 100%;
  overflow: hidden;
}

.slick-active {
  display: flex;
  justify-content: center;
}
